$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-wide: 1200px;

$main-font-color: #000 !global;
$content-box-background: #fff !global;
$content-box-background-desc: #eaeaea !global;
$content-box-background-gray: #fafafa !global;
$content-box-color: #262d3a !global;

// 상품 카드 백그라운드 색상
$background_0: #4f6de7;
$background_1: #68c2f6;
$background_2: #1adbe0;
$background_3: #19d9b4;
$background_4: #ffd200;
$background_5: #2b3a6d;
$background_6: #6214ab;

// 상품 카드 폰트 색상
$font_0: #4f6de7;
$font_1: #68c2f6;
$font_2: #1adbe0;
$font_3: #19d9b4;
$font_4: #ffd200;
$font_5: #2b3a6d;
$font_6: #6214ab;

//회원등급 배경 컬러 색상
$grade_color_0: #6f42c1;
$grade_color_1: #516feb;
$grade_color_2: #3b5977;
$grade_color_3: #03a9f4;
$grade_color_4: #ffd200;
$grade_color_5: #2b3a6d;
$grade_color_6: #6214ab;


