@charset "utf-8";
@import "./_variable";
@import "./mixin";

.board_nav_wrap {
    margin: 10px 0;
    
    ul {
        display: flex;
        flex-flow: row;

        li:first-child {
            // &::before {
            //     content: "";
            //     display: inline-block;
            //     width: 8px;
            //     height: 8px;
            //     border-radius: 15px;
            //     background: #000;
            // }

            // &::after {
            //     content: "";
            //     display: inline-block;
            //     width: 1px;
            //     height: 12px;
            //     background: #000;
            //     margin: 0 5px;
            // }

            a {
                color: #19d8b4;
            }
        }

        // li:last-child {
        //     font-weight: bold;
        // }
    }
}
