@charset "utf-8";
@import "../include/_variable";
@import "../include/mixin";

.top_wrap {

    .nav_wrap {
        padding: 0;
        

        ul {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            width: 700px;
            height: 40px;
            line-height: 40px;

            .menu {
                background: #212936;
                margin: 0;
                color: #fff;
                border-radius: 7px;

                i {
                    vertical-align: bottom;
                    margin-right: 5px;
                }
            }

            a {
                padding: 0 15px;
                color: #919eb4;
            }
        }
    }
}

.mid_wrap {
    margin: 10px 0;

    .nav_wrap {
        ul {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            font-weight: bold;
            letter-spacing: -1px;

            li:nth-child(1) {
                &::before {
                    content: "";
                    display: inline-block;
                    background: $background_0;
                    width: 8px;
                    height: 8px;
                    border-radius: 15px;
                    margin-right: 5px;
                }
            }

            li:nth-child(2) {
                &::before {
                    content: "";
                    display: inline-block;
                    background: $background_1;
                    width: 8px;
                    height: 8px;
                    border-radius: 15px;
                    margin-right: 5px;
                }
            }

            li:nth-child(3) {
                &::before {
                    content: "";
                    display: inline-block;
                    background: $background_2;
                    width: 8px;
                    height: 8px;
                    border-radius: 15px;
                    margin-right: 5px;
                }
            }

            li:nth-child(4) {
                &::before {
                    content: "";
                    display: inline-block;
                    background: $background_3;
                    width: 8px;
                    height: 8px;
                    border-radius: 15px;
                    margin-right: 5px;
                }
            }
        }
    }
}

.bottom_wrap {
    .search_wrap {
        display: flex;
        flex-flow: row;
        justify-content: space-between;

        .left_wrap {
            ul {
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                width: 890px;

                li {
                    width: 170px;
                    color: #fff;
                    text-align: center;
                    border-radius: 3px;
                    padding: 6px;
                    font-weight: bold;
                    box-shadow: 0 1px 2px 0 #ccc;

                    a {
                        color: #fff;
                    }

                    &:nth-child(1) {
                        background: $background_0;
                    }

                    &:nth-child(2) {
                        background: $background_1;
                    }

                    &:nth-child(3) {
                        background: $background_2;
                    }

                    &:nth-child(4) {
                        background: $background_3;
                    }

                    &:nth-child(5) {
                        background: $background_4;
                    }
                }
            }
        }

        .right_wrap {
            form {
                display: flex;
                flex-flow: row;
                justify-content: space-between;

                select {
                    border-radius: 30px;
                    height: 32px;
                    line-height: 32px;
                    padding: 0 6px;
                }

                input[type='text'] {
                    background: #f7f7f7;
                    border: none;
                    height: 32px;
                    padding: 10px;
                }

                button {
                    background: #262d3a;
                    padding: 1px 0;
                    width: 50px;
                    border-radius: 15px;

                    i {
                        color: #fff;
                    }
                }
            }
        }
    }

    .table_wrap {
        margin: 10px 0;

        .tbl_head01 {

            thead {

                th {
                    background: #f8f8f8;
                    color: #000;
                    border: none;
                    border-bottom: 1px solid #d6dce7;
                    font-weight: bold;
                }
            }

            tbody {

                td {
                    border: none;
                    border-bottom: 1px solid #d6dce7;
                }
            }
        }
    }

    .page_wrap {
        margin: 30px 0;
        .btn_wrap {
            a {
                border: 1px solid #262d3a;
                padding: 5px 7px;
                border-radius: 6px;
            }
        }
    }
}

.active_page {
    color: #000;
}