@charset "utf-8";
@import "../include/_variable";
@import "../include/mixin";

.service_wrap {
    display: flex;
    flex-flow: column;

    .service_top_wrap {
        display: flex;
        flex-flow: row;
        justify-content: space-between;   

        .sevice_1 {
            margin: 10px 5px;
            text-align: center;
            background: #fff;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            height: 460px;
            
            .service_bg_img {
                width: 150px;
                height: 150px;
                border-radius: 100px;
                margin: 0 auto;

                &.service_bg_img_card {
                    background: #eaeaea url("../../../img/card.png")  no-repeat center center / 50%;
                }

                &.service_bg_img_phone {
                    background: #eaeaea url("../../../img/phon.png")  no-repeat center center / 50%;
                }

                &.service_bg_img_ipin {
                    background: #eaeaea url("../../../img/ip.png")  no-repeat center center / 50%;
                }
            }

            p {
                &.explain_text {
                    width: 300px;
                    margin: 0 auto;
                }
            }

            ul {
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                align-items: center;
                border-top: 1px solid #e0e0e0;
                margin-left: -15px;
                margin-right: -15px;
                margin-bottom: -15px;
                height: 100px;

                li {
                    flex-grow: 1;
                    height: inherit;

                    &:nth-child(1) {
                        border-right: 1px solid #e0e0e0;
                        img {
                            width: 70px;
                            margin: 25px 0;
                        }
                    }

                    &:nth-child(2) {
                        border-right: 1px solid #e0e0e0;
                        img {
                            width: 100px;
                            margin: 40px 0;
                        }
                    }

                    &:nth-child(3) {
                        img {
                            width: 90px;
                            margin: 30px 0;
                        }
                    }
                }        
            }
        }
    }

    .service_bottom_wrap {
        .svc_ri {
            display: flex;
            justify-content: space-between;

            .svc_btn2 {
                span {
                    margin: 0 10px;
                    color: #21e0a4;
                    vertical-align: middle;
                }
                img {
                    width: 100px;
                }
            }
        }
    }
}
