@charset "utf-8";
@import "../include/_variable";
@import "../include/mixin";

.mid_wrap  {
    form {
        display: flex;
        flex-flow: row;
        align-items: center;

        select {
            border-radius: 30px;
            width: 100px;
            height: 32px;
            line-height: 32px;
            padding: 0 6px;
        }

        input[type='text'] {
            background: #f7f7f7;
            border: none;
            height: 32px;
            padding: 10px;
        }

        button {
            background: #262d3a;
            padding: 1px 0;
            width: 50px;
            border-radius: 15px;

            i {
                color: #fff;
            }
        }
    }
}

.bottom_wrap {
    margin: 10px 0;

    .table_wrap {
        .tbl_head01 {

            thead {

                th {
                    background: #f8f8f8;
                    color: #000;
                    border: none;
                    border-bottom: 1px solid #d6dce7;
                    font-weight: bold;
                }
            }

            tbody {

                td {
                    border: none;
                    border-bottom: 1px solid #d6dce7;
                }
            }
        }
    }
}